*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
}

table{
    margin: auto;
}
h1{
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
}
button{
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 3px;
    font-size: 25px;
}
button:hover{
    background-color: black;
    color: aliceblue;
}
input{
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid black;
    color: BLACK;
}
.calculator{
   display: inline-block;
   background-color: grey;
   padding: 10px;
   border: 5px solid black;
   border-radius: 10px;
}